.searchbar {
  height: 20vh;
  position: relative;
  display: flex;
  align-items: center;
  form {
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-left: 20px;
    input {
      width: 40%;
      padding: 13px 20px;
      outline: none;
      border: none;
      font-size: 14px;
    }
    button {
      border-radius: 6px;
      border: 1px solid #000000;
      background-color: #000000;
      padding: 13px 20px;
      outline: none;
      border: none;
      color: white;
      font-size: 14px;
    }
  }
}

@media (max-width: 899px) and (min-width: 500px) {
  .searchbar {
    height: 15vh;
  }
}
